<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="panel panel-default">

        <div class="panel-heading"></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Возрат</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="friend, iterator: ${friends}">
                        <td th:text="${friend.id}" style="width: 60%"></td>
                        <td th:text="${friend.lastName}" style="width: 60%"></td>
                        <td th:text="${friend.firstName}" style="width: 60%"></td>
                        <td th:text="${friend.age}" style="width: 60%"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--    <div class="card w-25" style="margin-top: 15px">
                <div class="card-block">
                    <img class="page_avatar_img" src="https://content.foto.my.mail.ru/mail/4722074/_myphoto/i-2117.jpg"
                         height="150" width="150">
                    <a class="btn btn-primary" style="background-color: #3177a8"
                       th:href="@{/friend/addFriend}">
                        <i class="fa-solid fa-plus"></i> Добавить
                    </a>
                </div>
            </div>-->
    </div>
</body>
</html>