<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="card w-50" style="margin-top: 15px">
        <div class="card-block">
            <h3 class="card-title">Profile Name</h3>
            <img class="page_avatar_img" src="https://content.foto.my.mail.ru/mail/4722074/_myphoto/i-2117.jpg"
                 height="100" width="50">
            <a class="btn btn-primary" style="background-color: #3177a8"
               th:href="@{/project}">
                <i class="fa-solid fa-plus"></i> Найти друзей
            </a>
        </div>
    </div>
</div>
</body>
</html>